P{
    color: #000000;
    font-size: 13px;
    background-color: #fffb1cd2
}
h1{
    color:#000000 ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fbff2a;
    border: 3px solid #000000;
    padding: 10px;
    margin: 4%;
    border-radius: 10px;
}
h2{
    color: #560088;
    font-size: 15px;
    background-color:#949494;
    margin: 4%;
    border-radius: 10px;
}
h3{
    color: #000000;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4%;
    border-radius: 10px;
}
body{
    background: linear-gradient(blue, pink);
    font-family: Arial, Helvetica, sans-serif;
    margin: 4%;
    border-radius: 10px;
}
strong{
    color:#0400ff;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    margin: auto;
    border-radius: 10px;
    max-width: 1000px;
    width: 90%;
    list-style: none;
    padding: 0px;
    background: #8bd4ff;
    text-align: center;
}
nav a{
    color: #152aec;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #5eaa3b;
    background-color: #560088;
    border-radius: 10px;
}
.simple-linear{
    background: linear-gradient(blue, pink);
}